# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.GE2_Assignment.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\College\BSc. Computer Science\4th Year\Semester 2\Games Engines 2\GE2_Assignment\.idea\.idea.GE2_Assignment\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
